<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-5 offset-md-4">
        <div class="card">
            <div class="card-header bg-primary" style="color: aliceblue;"><h4> SIP Calculator</h4></div>
            <div class="card-body">
                <form [formGroup]="sipCalculatorForm" (ngSubmit)="calculateSIP()">

                    <div class="form-group">
                        <label>Investment Amount (INR)</label>
                        <input type="number" class="form-control" formControlName="amount" id="amount" placeholder="Rs:"/>
                        <span class="text-danger" *ngIf="!sipCalculatorForm.controls.amount.valid && sipCalculatorForm.controls.amount.dirty">
                            Please provide this field!
                        </span>
                    </div>

                    <div class="form-group">
                        <label>Duration of Investment (Years)</label>
                        <input type="number" class="form-control" formControlName="durationOfInvestment" id="durationOfInvestment" placeholder="Year"/>
                        
                        <span class="text-danger" *ngIf="!sipCalculatorForm.controls.durationOfInvestment.valid && 
                        sipCalculatorForm.controls.durationOfInvestment.dirty">Please provide this field!</span>
                    </div>
                    
                    <div class="form-group">
                        <label>Expected Annual Return (%)</label>
                        <input type="number" class="form-control" formControlName="rateOfInterest" id="rateOfInterest" placeholder="%"/>
                        
                        <span class="text-danger" *ngIf="!sipCalculatorForm.controls.rateOfInterest.valid && 
                        sipCalculatorForm.controls.rateOfInterest.dirty">Please provide this field!</span>
                    </div>

                    <button [disabled]="!sipCalculatorForm.valid" type="submit" class="btn btn-primary btn-block">Calculate SIP</button> <br>
                    <div *ngIf="isResultVisible">
                        <label>Expected return:</label>
                        <div class="form-control text-success">{{amountToBeReceived | currency: 'INR'}}</div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>